/* == COLORS ==*/
:root{
    --primary-color: #47331F;
    --primary-light: #E8D7C7;
    --primary-gradient: linear-gradient(135deg, #47331F, #A68059);
}

/* == TYPOGRAPHY ==*/
.h1 {
    font-family: "Forum", sans-serif;
    font-size: 80px;
    line-height: 1;
    background: var(--primary-gradient);
    background-clip: text;
    color: transparent;
}
.h2 {
    font-family: "Forum", sans-serif;
    font-size: 50px;
    line-height: 1.5;
    background: var(--primary-gradient);
    background-clip: text;
    color: transparent;
}
.label {
    font-family: "Forum", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    color: var(--primary-color);
}
.paragraph {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-style: normal;
    color: var(--primary-color);
}

/* == ICONS ==*/
.icon--xxl { width: 36px; height: 36px; }
.icon--xl { width: 24px; height: 24px; }
.icon--md { width: 18px; height: 20px; }

/* == BODY == */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto;
    width: 1200px;
    gap: 40px;
    background-color: var(--primary-light);
}

/* == «BUTTON SOUND CONTROL» == */
.button-sound-control {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0px 4px 8px rgba(71, 51, 31, 0.25);
    background: var(--primary-gradient);
    color: var(--primary-light);
}
.button-sound-control {
    padding: 10px;
}

/* == FIRST SCREEN == */
.main-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--primary-color);
}
.main-block__text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 40px;
}
.img {
    width: 600px;
    height: 450px;
    object-fit: cover;
    border-left: 1px solid var(--primary-color);
}

/* == INFO-CARDS == */
.cards-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}
.info-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 40px 40px;
    border: 1px solid var(--primary-color);
}
.info-card__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.info-card__point {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.info-card__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 12px;
    padding: 20px 12px;
    border: 1px solid var(--primary-color);
    text-decoration: auto;
}
.info-card__button:hover {
    background: var(--primary-gradient);
    color: var(--primary-light);
    border: 1px solid var(--primary-light);
}
.info-card__button:hover .button__icon {
    color: var(--primary-light);
}

/* == QUESTIONS == */
.info-block{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-bottom: 120px;
}
.info-block__point {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--primary-color);
    cursor: pointer;
}
.info-block__point:last-child {
    border-bottom: 1px solid var(--primary-color);
}
.info-block__question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;    
}
.accordeon__icon {
    transition: transform 0.3s ease;
}
.info-block__answer {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}
.info-block__answer.open {
    height: auto;
    padding-bottom: 20px;
    transition: 0.3s ease, padding-bottom 0.3s ease;
}

/* == MODAL WINDOW «ADD TO CALENDAR» == */
.calendar-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    z-index: 1000;
}
.calendar-popup.active {
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar-popup__content {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    gap: 40px;
    background: var(--primary-light);
    border: 1px solid var(--primary-color);
    pointer-events: auto;
}
.calendar-popup__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar-popup__icon {
  cursor: pointer;
}
.calendar-popup__links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.calendar-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    color: #333;
}
.calendar-popup__icon{
    color: var(--primary-color);
}
.calendar-link:hover {
    background: var(--primary-gradient);
    color: var(--primary-light);
    border: 1px solid var(--primary-light);
}
.calendar-link:hover .calendar-popup__icon {
    color: var(--primary-light);
}
